<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="EmptyFridge.css">
    <link rel="stylesheet" href="GlobalStylesheet.css">

    <meta charset="UTF-8">
    <title>Tøm køleskab</title>

    <Style>
        body {

            background-image: url("images/Empty fridge.jpg ");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </Style>

</head>
<body>

<div class="topnav">
    <div class="header"></div>
    <a href="/">Forside</a>
    <a class="active" href="/EmptyFridge">Tøm køleskab</a>
    <a href="/foodbank">Foodbanks i KBH</a>
    <a href="/ReadMore">Hent E-Bog</a>

</div>

<br/>

<div class="searchbox">
<input type="text" id="text" onkeyup="myFunction(event)" placeholder="Jeg vil lave mad som indeholder..">
</div>

<ul id="myUL" style="display: none">

    <li onclick="addListItem(event)" ><a>Kylling</a></li>

    <li onclick="addListItem(event)" ><a>Billy</a></li>
    <li onclick="addListItem(event)" ><a>Bob</a></li>

    <li onclick="addListItem(event)" ><a>Calvin</a></li>
    <li onclick="addListItem(event)" ><a>Christina</a></li>
    <li onclick="addListItem(event)" ><a>Cindy</a></li>
</ul>

<ul class="empty_fridge__search-ingredient" id="list">

</ul>



<script>
    function myFunction(event) {
        var input, filter, ul, li, a, i;
        input = document.getElementById('text');
        filter = input.value.toUpperCase();
        if (event.keyCode == 13) {
            event.preventDefault();
            addToList();
        }

        else {

        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        if (input.value.length == 0) {
            ul.style.display = "none";
            return;
        } else {
            ul.style.display = "block";
        }
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "block";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    }

</script>

<script>
    function addToList() {

            let input = document.querySelector('#text');
            let list = document.querySelector('#list');

            let item = document.createElement('li'); // create li node
            let itemText = document.createTextNode(input.value); // create text node

            item.appendChild(itemText); // append text node to li node
            list.appendChild(item); // append li node to list

            input.value = ""; // clear input
    }
</script>

<script>
    function addListItem(e) {

        let list = document.querySelector('#list');

        let item = document.createElement('li'); // create li node
        let itemText = document.createTextNode(e.target.innerText); // create text node

        item.appendChild(itemText); // append text node to li node
        list.appendChild(item); // append li node to list

    }
</script>

<div class="row">
    <a href="#recipe1"> <div class="column" style="background-image: url(/images/1.png);background-size: 100% 100%"></div> </a>
    <a href="#recipe2"> <div class="column" style="background-image: url(/images/2.png);background-size: 100% 100%"></div> </a>
    <a href="#recipe3"> <div class="column" style="background-image: url(/images/3.png);background-size: 100% 100%"></div> </a>



</div>

<div class="row">
    <a href="#recipe1"> <div class="column" style="background-image: url(/images/4.png);background-size: 100% 100%"></div> </a>
    <a href="#recipe2"> <div class="column" style="background-image: url(/images/5.png);background-size: 100% 100%"></div> </a>
    <a href="#recipe3"> <div class="column" style="background-image: url(/images/6.png);background-size: 100% 100%"></div> </a>


</div>






</body>
</html>