<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="EmptyFridge.css">
    <link rel="stylesheet" href="GlobalStylesheet.css">

    <meta charset="UTF-8">
    <title>Tøm køleskab</title>

    <Style>
        body {

            background-image: url("images/Empty fridge.jpg ");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </Style>

</head>
<body>

<div class="topnav">
    <div class="header"></div>
    <a href="/">Forside</a>
    <a class="active" href="/EmptyFridge">Tøm køleskab</a>
    <a href="/foodbank">Foodbanks i KBH</a>
    <a href="/ReadMore">Hent E-Bog</a>

</div>

<br/>

<div class="searchbox">
<input type="text" id="text" onkeyup="myFunction(event)" placeholder="Jeg vil lave mad som indeholder..">
</div>

<ul id="myUL" style="display: none" >

    <li onclick="addListItem(event)" ><a>Kylling</a></li>

    <li onclick="addListItem(event)" ><a>Tomat</a></li>
    <li onclick="addListItem(event)" ><a>Blåbær</a></li>

    <li onclick="addListItem(event)" ><a>Avocado</a></li>
    <li onclick="addListItem(event)" ><a>Laks</a></li>
    <li onclick="addListItem(event)" ><a>Salat</a></li>
</ul>

<ul class="empty_fridge__search-ingredient" id="list">

</ul>

<div id="recipeContainer">

</div>

<script>
    var recipes = [
            {"name" : "recipe1",
                "image" : "/images/1.png",
                "ingredients" : ["Avocado", "Tomat"],
                "url" : "https://www.google.dk"
            },
            {"name" : "recipe2",
                "image" : "/images/2.png",
                "ingredients" : ["Blåbær"],
                "url" : "https://www.google.dk"
            },
            {"name" : "recipe3",
                "image" : "/images/3.png",
                "ingredients" : ["Laks", "Salat", "Tomat"],
                "url" : "https://www.google.dk"
            },
            {"name" : "recipe4",
                "image" : "/images/4.png",
                "ingredients" : ["Tomat"],
                "url" : "https://www.google.dk"
            },
            {"name" : "recipe5",
                "image" : "/images/5.png",
                "ingredients" : ["Avocado", "Salat"],
                "url" : "https://www.google.dk"
            },
            {"name" : "recipe6",
                "image" : "/images/6.png",
                "ingredients" : ["Avocado", "Salat", "Tomat"],
                "url" : "https://www.google.dk"
            }
        ];

    var ingredientArray = [];

    function myFunction(event) {
        var input, filter, ul, li, a, i;
        input = document.getElementById('text');
        filter = input.value.toUpperCase();
        if (event.keyCode == 13) {
            event.preventDefault();
            addToList();
        }

        else {

        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        if (input.value.length == 0) {
            ul.style.display = "none";
            return;
        } else {
            ul.style.display = "block";
        }
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "block";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    }

    function addToList() {
            let input = document.querySelector('#text');
            addIngredientToList(input.value);

            input.value = ""; // clear input
    }

    function addListItem(e) {
        addIngredientToList(e.target.innerText);
    }

    function addIngredientToList(ingredient) {
        if (!ingredientArray.includes(ingredient)) {
            let list = document.querySelector('#list');
            let item = document.createElement('li'); // create li node
            let itemText = document.createTextNode(ingredient); // create text node

            item.appendChild(itemText); // append text node to li node
            item.addEventListener('click', () => deleteIngredientFromList(item, ingredient));
            list.appendChild(item); // append li node to list

            ingredientArray.push(ingredient);
        }
        filterRecipes();


    }

    function deleteIngredientFromList(item, ingredient) {
        let index = ingredientArray.indexOf(ingredient);

        if (index > -1) {
            ingredientArray.splice(index, 1);

            item.parentNode.removeChild(item);
        }

        filterRecipes();
    }

    function displayRecipes(recipes) {
        console.log(recipes);
        if (document.querySelector('.container') != null) {
            document.querySelector('#recipeContainer').removeChild(document.querySelector('.container'));
        }
        let container = document.createElement('div');
        container.classList.add('container');

        let recipeCard, recipeImage;
        for (let i = 0; i < recipes.length; i++) {
            recipeCard = document.createElement('a');
            recipeCard.setAttribute('href', recipes[i].url);
            recipeImage = document.createElement('img');
            recipeImage.src = recipes[i].image;

            recipeCard.appendChild(recipeImage);
            container.appendChild(recipeCard);
        }
        document.querySelector('#recipeContainer').appendChild(container);
    }

     function filterRecipes() {
        let resultRecipes = [];

        if (ingredientArray.length != 0) {
            recipes.forEach(function (recipe) {
                let match = 0;
                for (let i = 0; i < ingredientArray.length; i++) {
                    let index = recipe.ingredients.indexOf(ingredientArray[i]);
                    if (index > -1) {
                        match++;
                    }

                }
                if (match == ingredientArray.length) {
                    resultRecipes.push(recipe);
                }
            });
        }
        displayRecipes(resultRecipes);
    }

    filterRecipes();
</script>










</body>
</html>