<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="FoodBank.css">
    <meta charset="UTF-8">
    <title>FoodBank</title>
</head>
<body>

<div class="topnav">
    <a href="/">Forside</a>
    <a href="/EmptyFridge">Tøm køleskab</a>
    <a class="active" href="/foodbank">Foodbanks i KBH</a>
    <a href="/ReadMore">Læs mere</a>

</div>

<div class="mapouter"><div class="gmap_canvas" >
    <iframe src="https://maps.google.com/maps?q=f%C3%B8devarebanken&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>
</div> </div>

<table id="t01" style="width:100%">
    <tr>
        <th>Nørrebro</th>
        <th>Frederikssberg</th>
        <th>Valby</th>
        <th>Vanløse</th>
    </tr>

    <tr>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
    </tr>

    <tr>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
    </tr>

    <tr>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
    </tr>

    <tr>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
        <td><a href="https://foodsharingcph.org"> Food Sharing CPH</a></td>
    </tr>

</table>




</body>
</html>