<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="GlobalStylesheet.css">

    <meta charset="UTF-8">
    <title>Frontpage</title>


    <Style>
        body {

            background-image: url("images/MadspildForside.png ");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </Style>


</head>

<body>


<div class="topnav">
    <a class="active" href="/">Forside</a>
    <a href="/EmptyFridge">Tøm køleskab</a>
    <a href="/foodbank">Foodbanks i KBH</a>
    <a href="/ReadMore">Hent E-Bog</a>

</div>


<h1> Red Mad <br> Hjælp Planeten </h1>




</body>
</html>