p.big {


    font-weight: lighter;
    font-size: medium;
    font-family: Montserrat;
    line-height: 1.5;


}

h1 {

    color: #44D7B6;
    font-family: Montserrat;
    font-weight: bolder;
    alignment: center;
    padding-right: 200px;
    padding-left: 200px;


}

.column {
    float: left;
    width: 50%;
    margin-left: 5%;
    margin-inside: 5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}