


/* Makes images responsive with a fixed max width*/

.responsive {
    width: 100%;
    max-width: 1440px;
    height: auto;
    max-height: 720px;
}
/* h1 styling*/
h1 {

    font-family: Montserrat;
    font-weight: bolder;
    font-size: 75px;
    color: #44D7B6;
    letter-spacing: -0.27px;
    text-align: center;



}



/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #44D7B6;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #44D7B6;
    color: white;
}







